Reports/Waher.Reports.Files/Schema/ReportFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ReportFile"
           targetNamespace="http://waher.se/Schema/ReportFile.xsd"
           elementFormDefault="qualified"
           xmlns="http://waher.se/Schema/ReportFile.xsd"
           xmlns:mstns="http://waher.se/Schema/ReportFile.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Privilege" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Title" type="xs:string"/>
				<xs:element name="Parameters">
					<xs:complexType>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="Boolean">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameter">
											<xs:attribute name="default" type="ScriptableBoolean" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Color">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="alpha" type="ScriptableBoolean" use="optional" default="false"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Date">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="DateTime">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Double">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Fixed">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameter">
											<xs:sequence>
												<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Int8">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Int16">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Int32">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Int64">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Jid">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Jids" type="ReportParameterWithOptionsAndDefaultValues"/>
							<xs:element name="Media">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameter">
											<xs:attribute name="url" type="xs:string" use="required"/>
											<xs:attribute name="contentType" type="xs:string" use="required"/>
											<xs:attribute name="width" type="xs:unsignedShort" use="optional"/>
											<xs:attribute name="height" type="xs:unsignedShort" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Password">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameter">
											<xs:attribute name="default" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="String">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="pattern" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Text">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptionsAndDefaultValues">
											<xs:attribute name="contentType" type="xs:string" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Time">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
											<xs:attribute name="min" type="xs:string" use="optional"/>
											<xs:attribute name="max" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Uri">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ReportParameterWithOptions">
											<xs:attribute name="default" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="Content">
					<xs:complexType>
						<xs:sequence>
							<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="namespace" type="xs:string" use="optional"/>
			<xs:attribute name="originVariable" type="xs:string" use="optional" default="origin"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ReportParameter" abstract="true">
		<xs:attribute name="page" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="required" type="ScriptableBoolean" use="optional" default="false"/>
	</xs:complexType>

	<xs:complexType name="ReportParameterWithOptions" abstract="true">
		<xs:complexContent>
			<xs:extension base="ReportParameter">
				<xs:sequence>
					<xs:element name="Option" type="ParameterOption" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="restrictToOptions" type="xs:boolean" use="optional" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ReportParameterWithOptionsAndDefaultValues" abstract="true">
		<xs:complexContent>
			<xs:extension base="ReportParameterWithOptions">
				<xs:sequence>
					<xs:element name="DefaultValue" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="minCount" type="xs:unsignedShort" use="optional"/>
				<xs:attribute name="maxCount" type="xs:unsignedShort" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ParameterOption">
		<xs:attribute name="value" type="xs:string" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:group name="ReportActions">
		<xs:choice>
			<xs:element name="CreateTable">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Column" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="columnId" type="xs:string" use="required"/>
								<xs:attribute name="header" type="xs:string" use="required"/>
								<xs:attribute name="dataSourceId" type="xs:string" use="optional"/>
								<xs:attribute name="partition" type="xs:string" use="optional"/>
								<xs:attribute name="fgColor" type="xs:string" use="optional"/>
								<xs:attribute name="bgColor" type="xs:string" use="optional"/>
								<xs:attribute name="alignment" type="ColumnAlignment" use="optional" default="Left"/>
								<xs:attribute name="nrDecimals" type="NrDecimals" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="tableId" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="TableRecords">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Record" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Element" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="tableId" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="TableComplete">
				<xs:complexType>
					<xs:attribute name="tableId" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Script" type="xs:string"/>
			<xs:element name="Object" type="xs:string"/>
			<xs:element name="Message">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="type" type="EventType" use="optional" default="Information"/>
							<xs:attribute name="level" type="EventLevel" use="optional" default="Minor"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="xs:string"/>
			<xs:element name="Section">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="header" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Conditional">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="If" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="condition" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Else" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="While">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:sequence>
					<xs:attribute name="condition" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Do">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:sequence>
					<xs:attribute name="while" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ForEach">
				<xs:complexType>
					<xs:sequence>
						<xs:sequence>
							<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:sequence>
					<xs:attribute name="set" type="xs:string" use="required"/>
					<xs:attribute name="variable" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Try">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
						<xs:element name="Catch" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="variable" type="xs:string" use="optional" default="ex"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Finally" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="ReportActions" minOccurs="1" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:simpleType name="ColumnAlignment">
		<xs:restriction base="xs:string">
			<xs:pattern value="Left|Center|Right|\{[^\}]*\}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NrDecimals">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d|1{0-5}|\{[^\}]*\}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EventType">
		<xs:restriction base="xs:string">
			<xs:pattern value="Information|Warning|Error|Exception|\{[^\}]*\}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EventLevel">
		<xs:restriction base="xs:string">
			<xs:pattern value="Minor|Medium|Major|\{[^\}]*\}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ScriptableBoolean">
		<xs:restriction base="xs:string">
			<xs:pattern value="true|false|\{[^\}]*\}"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>
