Networking/Waher.Networking.XMPP.Contracts/Schema/Xml.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema
    xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.w3.org/XML/1998/namespace'
    xmlns='http://www.w3.org/XML/1998/namespace'
    elementFormDefault='qualified'>

  <xs:attribute name='lang' type='xs:string'/>
  <xs:attribute name='space' type='xs:string'/>
  <xs:attribute name='base' type='xs:string'/>
  <xs:attribute name='id' type='xs:string'/>

</xs:schema>